---
layout: default
title: {{ site.name }}
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li>
        &raquo;<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <span>（{{ post.date | date_to_string }}&nbsp;tag:）</span>
      </li>
    {% endfor %}
  </ul>
</div>