---
layout: profile
title: 成长记录
---
<div class="container">
    <div class="side">
        <div class="me">
            <div class="portrait"></div>
            <h1 id="username" >刘彬</h1>
            <h4 id="persona-tag" >JS / Web / 互联网营销</h4>
        </div>
        <div class="profile info-unit">
            <h2 class="info-header"><i class="iconfont icon-person"></i> <span class="info-title">基本信息</span></h2>
            <hr>
            <ul class="info-list">
                <li>
                    <label class="left-label">姓名</label><span class="label-value">刘彬</span></li>
                <li>
                    <label class="left-label">学历</label><span class="label-value">本科</span></li>
                <li>
                    <label class="left-label">毕业院校</label><span class="label-value">陕西科技大学</span></li>
                <li>
                    <label class="left-label">毕业年份</label><span class="label-value">2015-06</span></li>
            </ul>
        </div>
        <div class="contact info-unit">
            <h2 class="info-header"><i class="iconfont icon-call"></i> <span class="info-title">联系方式</span></h2>
            <hr>
            <ul class="info-list">
                <li>
                    <label class="left-label">手机</label><span class="label-value">15810377046</span></li>
                <li>
                    <label class="left-label">邮箱</label><span class="label-value">1360866816@qq.com</span></li>
                <li>
                    <label class="left-label">个人主页</label><span class="label-value">liubinzh.github.io/github-pages/</span></li>
                <li>
                    <label class="left-label">Github</label><span class="label-value">github.com/LiuBinZH</span></li>
            </ul>
        </div>
        <div class="skill info-unit">
            <h2 class="info-header"><i class="iconfont icon-star"></i> <span class="info-title">技能点</span></h2>
            <hr>
            <ul class="progress-list">
                <li>
                    <label class="left-label">JS/HTML/CSS</label>
                    <progress value="80" max="100"></progress>
                </li>
                <li>
                    <label class="left-label">jQuery</label>
                    <progress value="70" max="100"></progress>
                </li>
                <li>
                    <label class="left-label">Angular</label>
                    <progress value="60" max="100"></progress>
                </li>
                <li>
                    <label class="left-label">Vue</label>
                    <progress value="60" max="100"></progress>
                </li>
                <li>
                    <label class="left-label">Node</label>
                    <progress value="60" max="100"></progress>
                </li>
            </ul>
        </div>
        <div class="stack info-unit">
            <h2 class="info-header"><i class="iconfont icon-build"></i> <span class="info-title">技术栈</span></h2>
            <hr>
            <ul class="stack-list">
                <li>
                    <label class="left-label">前端</label><span class="label-value">jQuery、Bootstrap、Angular、Vue</span></li>
                </li>
                <li>
                    <label class="left-label">后端</label><span class="label-value">Node、MongoDB、JAVA、C/C++</span></li>
                </li>
                <li>
                    <label class="left-label">其它</label><span class="label-value">再补充。</span></li>
                </li>
            </ul>
        </div>

        <div class="code info-unit">
            <h2 class="info-header"><i class="iconfont icon-weixin"></i> <span class="info-title">个人微信</span></h2>
            <hr>
            <div class="weixin">
                <img src="./css/images/weixin.jpeg" alt="刘彬">
            </div>
        </div>
    </div>
    <div class="main">
        <div class="education info-unit right-list">
            <h2 class="info-header"><i class="iconfont icon-education"></i> <span class="info-title">教育经历</span></h2>
            <hr>
            <ul class="experience-list">
                <li>
                    <h3>陕西科技大学 - 信息与计算科学（本科）2011-2015</h3>
                    <p>
                      操作系统，计算机网络，C/C++程序设计，数据结构与算法，java程序设计，数字信号处理，数学分析，离散数学，空间解析几何等。
                    </p>
                </li>
            </ul>
        </div>
        <div class="work info-unit right-list">
            <h2 class="info-header"><i class="iconfont icon-work"></i> <span class="info-title">工作经历</span></h2>
            <hr>
            <ul class="experience-list">
                <li>
                    <h3>广州市玄武无限科技股份有限公司－前端开发</h3>
                    <p>
                    14年10月取得该公司offer（管培生），进入公司实习。期间开发一个微信小项目（微信考勤）
                    主要职责：
                    微信前台页面开发及项目汇报PPT总结
                    </p>
                </li>
                <li>
                    <h3>北京浪湾融科信息计算有限公司－前端开发</h3>
                    <p>
                    负责产品HDMS开发，前端UI重构及jQuery组件开发。
                    </p>
                </li>
            </ul class="experience-list">
        </div>
        <div class="project info-unit right-list">
            <h2 class="info-header"><i class="iconfont icon-project"></i> <span class="info-title">个人项目</span></h2>
            <hr>
            <ul class="experience-list">
                <li>
                    <h3>基于Angular的经销商管理系统</h3>
                    <p>
                    DMS属于SPA，共分八个模块（首页、企业咨询、采购订单、销售订单、要货计划、库存管理、往来对账及终端管理），其中采购订单和销售订单为DMS的整个核心模块。
                    1)采购订单
                        企业的经销商、分销商或批发商等渠道进行采购进货，就需要下采购订单，对于不同级别的经销商或分销商，供货方可能不一样，有可能是厂家，也有可能是上级经销商等，根据各个快消企业的营销政策而有所不同，采购订单是根据当前登陆营销区域选择上级营销区域的产品，根据角色不同拥有不同的功能，如：订单录入，订单修改，订单作废，到货确认和到货明细等。
                    2)销售订单
                        销售订单是根据当前登陆经销商/分销商选择销售下级门店的产品，根据角色不同拥有不同的功能，如：
                    订单录入，订单修改，订单确认，订单作废，订单发货，到货明细和订单打印。
                    DMS能够和SFA打通，可以说是SFA的一个小分支。整个系统采用MVC架构思想，表现层与数据层分离。
                    岗位职责：
                    1、前期负责前端结构搭建，及页面开发；
                    2、后期负责整个DMS前端系统，需求变更及新控件开发；
                    主要技术：
                    JavaScript、jQuery、underscore、bootstrap3等
                    </p>
                </li>
                <li>
                    <h3>基于H+框架的高密度数据存储系统</h3>
                    <p>
                    1）数据模型
                        要想存储某辆车的信息，就需要添加该车的对象，那就要添加车模型。新建车模型，添加车的一些字段名称，其中字段类型共有22种，每种字段类型会生成不同的字段，当然模型与模型之间也存在绑定关系。
                    2）作战数据
                        模型添加完成之后，我们就可以添加该模型的数据，数据对象之间也存在绑定关系，字段是根据strongType类型生成，共分22种类型，动态生成。生成的数据供另外一套系统——车联网（目前正在开发中），可存储某一市的车辆信息，监控车辆行驶状态，做数据研究。
                    岗位职责：
                    1、负责项目前端页面UI重构及JQuery组件开发；
                    2、负责模型字段及模型数据模块前端页面开发；
                    3、部分页面后端代码编写。
                    主要技术：
                    JavaScript、JQuery及其插件、bootstrap3、PHP、Mongodb等
                    </p>
                </li>
                <li>
                    <h3>基于微信端营销活动项目</h3>
                    <p>
                      顾客通过微信扫一扫烟包上的条码进入活动页面，输入烟包上的六位数字验真；若顾客当前位置在本次活动区域内并且验真为正品，则跳转到活动页面，抽奖或兑换奖品；翻牌活动动画类似于天猫超市的翻牌，奖品大致分为：实物、红包、卡券（根据定位区域变换）和谢谢参与。如果抽中实物奖品，则需要填写对应的收货地址及对接第三方物流信息；若为红包奖品，则需要绑定手机号。
                       岗位职责：
                       1、负责通过PS切图，还原html页面；
                       2、与后端接口对接，后期项目维护（开发周期端，活动时间长）；
                      主要技术： 微信JS-SDK、JavaScript、JQuery及其插件等
                    </p>
                </li>
            </ul>
        </div>
        <div class="trophy info-unit">
            <h2 class="info-header"><i class="iconfont icon-trophy"></i> <span class="info-title">技能证书</span></h2>
            <hr>
            <ul class="experience-list">
                <li>
                    <p>CET-4，优秀的听说写能力 </p>
                </li>
                <li>
                  <p>C/C++高级软件开发工程师</p>
                </li>
        </div>
        <div class="aboutme info-unit right-paragraph">
            <h2 class="info-header"><i class="iconfont icon-flower"></i> <span class="info-title">自我评价</span></h2>
            <hr>
            <p>
            时刻充满激情，敢于发表自己的见解，为人直爽，能吃苦，勇于担当。喜欢编写开发文档，将自己在开发过程中遇到的问题及解决办法写到为知笔记中，另外，自己的读书心得、前端框架研究、新知识研究等也会写到为知笔记中。热爱学习，乐于分享，对新技术有极强的好奇心，易于相处，能积极配合后端开发人员完成项目开发。喜欢思考，同时又喜爱极限运动，敢于秀出自我。
            </p>
        </div>
    </div>
</div>
