<section class="page-header">
  <a href="{{ site.baseurl }}/profile.html" class="">
    <img alt="{{ site.author.name }}" class="profile-img" src="{{ site.author.img }}">
  </a>
  <h2 class="project-name">{{ site.title }}</h1>
  <h4 class="project-tagline">{{ site.tagline }}</h2>
  <a href="{{ site.gitlink }}" class="btn">View on GitHub</a>
  <a href="{{ site.ziplink }}" class="btn">Download .zip</a>
  <a href="{{ site.tarlink }}" class="btn">Download .tar.gz</a>
</section>